<html>

<head>
	<title>ionic-feedback-backend</title>
	<style type="text/css">
		body {
			font-family: sans-serif;
		}
	</style>
</head>

<body>
	<h1>ionic-feedback-backend</h1>
	<p>Backend for <a href="https://github.com/Ritzlgrmft/ionic-feedback-sample">ionic-feedback-sample</a>.</p>
	<p>@Html.ActionLink("Swagger documentation", "index", "swagger")</p>
</body>

</html>